body{
    background-color: white
}

header{
    background: #222831;
    color: white;
    height: 60px;
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover{
    cursor: pointer;
}

#container{
    background-color: aliceblue;
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 2px gray;
}

#myinteraction{
    padding: 10px
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

figure{
    width: 800px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    animation-name: fotoslider;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#mapImage{
    margin-top: px;
    max-width: 100%;
}


@keyframes fotoslider {
    0%{
        background-image: url("./img/fotosliderbegin.jpeg");
    }
    25%{
        background-image: url("./img/fotoslidertweede.jpg");
    }
    50%{
        background-image: url("./img/fotosliderderde.jpeg");
    }
    75%{
        background-image: url("./img/fotoslider4.jpeg")
    }
    100%{
        background-image: url("./img/fotoslidertotslot.jpeg")
    }
}

footer{
    background: #222831;
    color: white;
    padding: 20px;
}
footer p{
    width: 50%;
    margin: 0 auto;
}